@model TFOF.Areas.Account.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<section id="loginForm">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <img src="@Url.Content("~/Images/logo.png")" class="logo">

        <h4 class="header-title">@ViewBag.Title</h4>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <p>
            Please submit your email address to receive a password reset link.
            </p>
                        
            <div class="row">
                <div class="input-field large col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @Placeholder="Email Address"})
                    
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row padding-top-10">
                   
                <div class="col-sm-12">
                    <div class="input-field">
                        <input type="submit" value="Reset Password" class="btn btn-primary btn-lg btn-block" />
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
