@model TFOF.Areas.Account.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<section id="loginForm">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <img src="@Url.Content("~/Images/logo.png")" class="logo">
            <h4>@(ViewBag.Title)</h4>

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-field">
                            @Html.TextBoxFor(m => m.Email)
                            @Html.LabelFor(m => m.Email)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-field">
                            @Html.PasswordFor(m => m.NewPassword)
                            @Html.LabelFor(m => m.NewPassword)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-field">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar padding-top-15">
                            
                            <input type="submit" class="btn btn-black" value="Change Password" />
                            <a class="btn btn-default" href="@Url.Action("Index","Home", new { area = "Home" })">Cancel</a>
                        </div>
                    </div>
                </div>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</section>