@using Microsoft.AspNet.Identity
@using System.Configuration
@using MvcReportViewer
@using TFOF.Areas.Core.Helpers
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TFOF</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    @Styles.Render("~/Content/css")
    
    @if (BrowserHelper.IsMobile(Request))
    {
        <link href="@Url.Content("~/Content/Site-Mobile.css")" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    }
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-esc-messages>
<a name="top"></a>
    <script type="text/javascript">
    //Captures the TempData Success and Error Messages and displays it using messages.js
    EXISTING_MESSAGES = {
                debug: [],
                success: [],
                info: [],
                warning: [],
                error: []
            }
    @{
        bool messages = false;
    }
    @if (TempData["Success"] != null)
    {
        @:EXISTING_MESSAGES['success'].push({
        @:        type: 'success',
        @:        fadeout: true,
        @:        message: '@TempData["Success"].ToString()'
        @:    });
        messages = true;
    }
    @if (TempData["Error"] != null)
    {
        @:EXISTING_MESSAGES['error'].push({
        @:        type: 'error',
        @:        fadeout: true,
        @:        message: '@TempData["Error"].ToString()'
        @:    });

        messages = true;
    }
    @if (TempData["Warning"] != null)
    {
        @:EXISTING_MESSAGES['warning'].push({
            @:        type: 'warning',
        @:        fadeout: true,
        @:        message: '@TempData["Warning"].ToString()'
        @:    });

        messages = true;
    }
    </script>
    <div data-ng-controller="MessageController" class="messenger hide" ng-cloak ng-init="@(messages ? "flash()": "")">
        <div class="container padding-sides-50">
            <span class="fa-stack float-right closer" ng-click="pinMessages(true)" ng-mouseover="pinHover(true)" ng-mouseout="pinHover(false)">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-thumb-tack fa-stack-1x fa-rotate-90" ng-show="hover.pinned"></i>
                <i class="fa fa-times fa-stack-1x" ng-show="hover.closer"></i>
                <span class="fa-stack-1x countdown font-14 font-bold" ng-show="hover.countdown">{{ countdown }}</span>
            </span>
            <div data-ng-repeat="(group, class) in groups" class="alert alert-alert {{ class }} font-20 font-bold" ng-show="messages[group].length > 0">
                <div data-ng-repeat="message in messages[group]" ng-bind-html="message.message"></div>
            </div>
        </div>
    </div>
    <div ng-cloak>
        <div class="">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
    <script>
        $( document ).ready(function(){
            //$(".button-collapse").sideNav();
            //$('select').material_select();
            $('input:hidden').each(function (index, element) {
             $(element).appendTo($(element).parent());
            });
            //$('input[length="*"], textarea[length="*"]').characterCounter();
            $('form').find('input[type="text"]:first,textarea:first').eq(0).focus();
        })
    </script>
    
</body>
</html>